nav {
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid black;
    box-shadow: 8px 8px;
    position: fixed;
    top: 0px;
}
.blackBox {
    background-color: black;
    position: absolute;
    right: 0px;
    height: 80px;
    width: 80px;
}

.info_container {
    height: 800px;
    background-color: grey;
}

article {
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 20px;
}

aside {
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 20px;
}

footer {
    position: fixed;
    bottom:0px;
    width: 100%;
    height: 80px;
    background-color: white;
    border-top: 2px solid black;
}